<template name="ChatUsersList">
  <div class="w-64 p-8 bg-purple rounded-tl-lg text-white">
    <h3 class="mb-6"># In this meeting</h3>

    <ul class="list-reset font-semibold">
      {{#each user in users}}
        <li style="text-overflow: ellipsis" class="overflow-hidden whitespace-no-wrap p-2 items-center -mx-2 cursor-default rounded hover:bg-purple-light">
          {{#if owner}}
            <a class="no-underline text-white mr-2 text-xs align-middle" href="#">
              X
            </a>
          {{/if}}

          {{ username }}
        </li>

      {{/each}}
    </ul>
  </div>
</template>
